
html, body { height: 100%; }

body {
  background-color: #95C1BC;
  color: #fff;
  font-family: Helvetica;
  font-size: 20px;
  text-align: center;
}

p {
  display: block;
  padding-top: 80px;
  width: 100%;
}

.first, .last {
  display: block;
  height: 100vh;
  position: absolute;
  width: 50%;
  z-index: 999;
}

.first {
  background-color: #4BA4A9;
  right: 50%;
}

.last {
  background-color: #F5F2BC;
  right: 0;
}
